.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1050;
  }
  
  .modal-content {
    background: white;
    border-radius: 8px;
    padding: 20px;
    min-width: 300px;
    z-index: 1051;
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .modal-title {
    margin: 0;
  }
  
  .close-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #333;
  }
  
  .modal-body {
    text-align: left;
  }
  
  .alerts-info p {
    margin: 10px 0;
  }
  
  .form-group {
    margin: 20px 0;
  }
  
  .form-group label {
    display: block;
  }
  
  .form-group input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
  }
  
  .buttonAlert {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f7931a;
    color: white;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .crypto-image {
    width: 1rem;
    height: 1rem;   
  }

  .alerts-info {
    display: flex;
    flex-direction: column;
    background-color: rgba(235, 233, 233, 0.8); /* Fondo casi transparente */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 15px; /* Espacio interior para separar el contenido de los bordes */
    margin-top: 10px; /* Separación con elementos anteriores */
    margin-bottom: 20px; /* Separación con elementos posteriores */
    
    
}
  