.holdings-container {
  font-family: 'Arial', sans-serif; /* O la fuente que prefieras */
  max-width: 1200px; /* O el ancho que prefieras */
  margin: 0 auto;
  background: #fff; /* Cambiar si es necesario */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Sombra ligera para la tarjeta */
}

.header-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  border-bottom: 1px solid #eaeaea;
  background-color: #f8f9fa; /* Fondo claro para el encabezado */
}

.logo-image {
  height: 50px; /* Ajusta el tamaño según sea necesario */
}

.total-holdings-value {
  font-size: 18px;
  color: #333; /* Color de texto oscuro para contraste */
}

.chart-button {
  padding: 10px 20px;
  background-color: #627D98; /* Color de fondo para el botón Chart */
  color: #fff; /* Texto blanco para el botón */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; /* Transición suave para efectos de hover */
}

.chart-button:hover {
  background-color: #506680; /* Color al pasar el mouse por encima */
}

.holdings-list-container {
  padding: 20px;
}

.holdings-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
}


.crypto-details {
  flex-grow: 1;
  margin-left: 20px;
}

.crypto-name {
  font-size: 20px; /* Tamaño de fuente más grande para el nombre */
  color: #333; /* Color de texto oscuro para el nombre */
  margin-bottom: 5px; /* Espacio debajo del nombre */
}



.sell-button, .analyze-button, .alert-button {
  margin-left: 8px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #ccc; /* Bordes sutiles para los botones */
  background-color: #f7931a; /* Fondo blanco para los botones */
  color: white; /* Color de texto que combina con el botón Chart */
  cursor: pointer;
  transition: all 0.3s; /* Transición suave para interacción */
}

.sell-button:hover, .analyze-button:hover, .alert-button:hover {
  background-color: #eaeaea; /* Cambio de color de fondo al pasar el mouse */
}

/* Media queries para responsividad */
@media (max-width: 640px) {
  .holdings-item {
    display: flex;
    
  }

  .crypto-actions {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sell-button, .analyze-button, .alert-button {
    margin-top: 5px;
    width: 100%;
  }

  .header-controls{
    margin-top: 4rem;
  }

  .crypto-details {
    
    margin-right: 10rem;
  }

  .crypto-price{
    margin-top: 1rem;
    font-weight: 600;
    color: green;
  }
}

/* Agregar más media queries y estilos si se necesitan para la adaptación móvil */





