.crypto-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 2rem;
  font-size: 0.6rem;

}

.crypto-table th, .crypto-table td {
  padding: 8px;
  text-align: left;
  vertical-align: middle; /* Alinea los contenidos de las celdas verticalmente en el centro */

}


.crypto-actions button {
  margin-right: 10px;
  padding: 5px 10px; /* Ajusta el tamaño de los botones */
}

.ImagenNombreTickerV {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Asegura que los elementos comiencen desde el borde izquierdo */

}

.holdings-container {
  display: flex;
  justify-content: center; /* Centra los hijos horizontalmente */
  align-items: center; /* Centra los hijos verticalmente si se desea */
  width: 100%; /* Ocupa todo el ancho posible para permitir centrado */
  flex-direction: column;
}

.header-controls {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eaeaea;
  background-color: #f8f9fa; /* Fondo claro para el encabezado */
  background: white;
  border-radius: 8px;
  padding:1.5rem 7rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
  max-width: 20rem;

}

.titleNamePriceqtyTotal {
 font-size: 0.8rem; 
 font-weight: bold;
}

.rest {
  display: flex ;
  justify-content: space-between;
}

.namePriceEtc {
  display: flex;
  width: 50%; /* Asegura que el contenedor ocupe todo el ancho disponible */
  margin-top: 2rem;
  border-top: 1px solid #eeecec; /* Línea gris fina en la parte superior */
  border-bottom: 1px solid #eeecec; /* Línea gris fina en la parte inferior */
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.logo-image {
  width: 6rem;
  height: 6rem; 
}

.total-holdings-value {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0.5rem;
}

.chart-button {
  background-color: #ffffff; /* Color de fondo para el botón Chart */
  color: #000000; /* Texto blanco para el botón */
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s; /* Transición suave para efectos de hover */
}

.chart-button:hover {
  color: #f7931a;
}

.holdings-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
  
}

.crypto-actions {
  font-size: 0.5rem; /* Tamaño de fuente más grande para el nombre */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 1rem;
  
}

.crypto-name, .crypto-amount, .crypto-pricee {
  /* Puedes aplicar estilos adicionales aquí si es necesario */
  margin: 0; /* Elimina márgenes predeterminados para manejar el espaciado exclusivamente con gap */
  font-size: 0.8rem; /* Tamaño de fuente más grande para el nombre */

}


/* .sell-button, .analyze-button, .alert-button {
  margin-left: 6rem;
  border-radius: 4px;
  color: rgb(130, 126, 126); 
  cursor: pointer;
  transition: all 0.3s; 
} */


.crypto-name {
  display: inline-block; /* Asegura que el nombre aparezca junto a la imagen */
  margin-left: 10px; /* Espacio entre la imagen y el texto */
}

.crypto-actions button {
  margin-right: 10px; /* Espaciado entre botones */
}

@media (max-width: 640px) {
  .crypto-table {
    display: block; /* Hace la tabla desplazable horizontalmente en pantallas pequeñas */
    overflow-x: auto;
  }

  .crypto-imagen {
    width: 25px; /* Ajusta el tamaño según sea necesario */
    height: 25px; /* Ajusta el tamaño según sea necesario */
  }
}



