.crypto-item {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  align-items: center;
}

.market-cap-container {
  background-color: rgba(255, 255, 255, 0.319); /* Fondo negro semitransparente */
  display: flex;
  justify-content: end;
  align-items: center;
  border-radius: 30px; /* Bordes curvos */
  padding: 10px 20px; /* Padding interior para dar espacio al texto */
  margin-right: 0.8rem; /* Margen a la izquierda para separarlo del borde o elementos adyacentes */
  color: #f7931a; /* Color de texto blanco para el título */
  width: auto;
}

.market-cap-title {
  font-weight: bold; /* Textooo en negrita */
  margin: 0; /* Elimina márgenes por defecto */
}

.market-cap-icon {
  height: 80px; /* Ajusta esto según tus necesidades */
  width: 80px; /* Asegura que la imagen sea cuadrada */
  margin-right: 1px; /* Espacio entre la imagen y el texto */
}

.market-cap-value {
  color: #646161; /* Color gris para el valor del Market Cap */
  font-size: 0.6rem; /* Tamaño de fuente más pequeño */
  margin: -0.9px 0 0; /* Espaciado hacia arriba para separarlo del título */
}

.crypto-info {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Añade un margen abajo para separar de los detalles */
}

.crypto-image {
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

.crypto-name, .crypto-price, .crypto-ath {
  margin: 0;
  white-space: nowrap;
}

.crypto-details {
  display: flex;
  flex-direction: column;
  align-items: flex-end; /* Alinea los detalles al final (derecha) */
  flex-grow: 0; /* No permite que .crypto-details crezca más de lo necesario */
  margin-right: 20px;
}
  

.add-button {
    padding: 8px 16px;
    background-color: #f7931a;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.add-button:hover {
  background-color: #0056b3;
}

.portfolio-container {
  margin-top: 70px;
  padding: 0 10px; /* Añade padding horizontal de 20px a ambos lados */
}

.search-bar {
  position: relative;
  width: 20%;
  margin-left: 2.5rem;
  margin-right: 0.5rem;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #5e5858;  /* Cambia el color si es necesario para mejorar la visibilidad */
  z-index: 10;
}

input[type="text"] {
  width: 100%;
  padding: 8px 8px 8px 35px;  /* Aumenta el padding izquierdo para evitar que el texto se sobreponga al ícono */
  border-radius: 4px;
  border: 1px solid #ccc;
}

.crypto-change {
  margin-left: 7px; /* Espacio entre el precio y el cambio */
  margin-top: 1.3rem;
}

.crypto-index {
  margin-right: 10px; /* Espacio entre el índice y la imagen */
  width: 30px; /* Espacio fijo para el número */
}

