.portfolio-container {
  margin: 16px;
  display: flex;
  flex-direction: column;
}

.crypto-list {
  list-style: none;
  padding: 0;
}


.crypto-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e5e7eb;
  padding: 16px 0;
  
}

.crypto-info {
  display: flex;
  align-items: center;
}

.crypto-image {
  height: 32px;
  width: 32px;
  margin-right: 8px;
  border-radius: 50%;
}

.crypto-name, .crypto-price {
  margin: 0;
  font-size: 0.875rem;
}

.crypto-ath {
  text-align: right;
}

.price-change {
  display: inline-block;
  padding: 2px 5px;
  border-radius: 5px;
  font-size: 0.75rem;
}

.positive {
  background-color: #009393;
  color: #ffffff;
}

.negative {
  background-color: #ff4242;
  color: #ffffff;
}

.add-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  padding: 5px 10px;
  background-color: #f7931a;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
}

.status-online {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #009393;
  color: #ffffff;
  padding: 5px;
  border-radius: 5px;
  font-size: 0.75rem;
}

@media (min-width: 768px) {
  .portfolio-container {
    margin: auto;
    max-width: 768px;
  }

  .crypto-image {
    height: 48px;
    width: 48px;
  }

  .crypto-name, .crypto-price {
    font-size: 1rem;
  }


}
