.homepage {
    font-family: 'Arial', sans-serif;
  }
  
  .top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .logo {
    height: 150px; /* Ajusta al tamaño de tu logo */
  }
  
  .menu-button {
    /* background: #0044cc; */
    color: #5ce1e6;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .content {
    padding: 20px;
  }
  
  .info-box {
    background: #f0f0f0;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .info-box p {
    margin: 0;
    font-size: 18px;
    color: black;
  }
  